@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");

$mint-cream: #f1fffa;
$background: #2f394d;
$background-secondary: #2b3d41;
$black-coral: #4c5f6b;
$morning-blue: #83a0a0;
$english-violet: #45364b;
$medium-champagne: #eddea4;
$light-salmon: #f7a072;
$medium-carmine: #a44a3f;
$green-sheen: #498f7d;
$ash-grey: #989e8b;

@mixin section($background: none) {
	@extend %subtitle;
	align-items: center;
	background-color: $background;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 400px;
	width: 100vw;
}

@mixin element($background: none) {
	@extend %transition;
	background-color: $background;
	border-radius: 50px;
	cursor: pointer;
	height: 200px;
	width: 200px;
}

@mixin transform($transform: none) {
	transform: $transform;
}

%transition {
	transition: transform 300ms ease;
}

%subtitle {
	align-content: center;
	color: $mint-cream;
	display: flex;
	font-family: "Josefin Sans", sans-serif;
	font-size: 2rem;
	justify-content: center;
	width: 100%;
}

* {
	box-sizing: border-box;
}

html,
body {
	background-color: $background;
	font-size: 62.5%;
	margin: 0px;
	padding: 0px;
}

h1 {
	color: $mint-cream;
	display: flex;
	justify-content: center;
	font-family: "Josefin Sans", sans-serif;
	font-size: 4rem;
	width: 100vw;
}

.scale {
	@include section($background: $morning-blue);
	.subcontainer {
		.element {
			@include element($background: $mint-cream);
			transition-delay: 300ms;
		}
		&:hover > .element {
			@include transform($transform: scale(1.3));
			transition-delay: 0ms;
		}
	}
}

.rotate {
	@include section($background: $light-salmon);
	.subcontainer {
		.element {
			@include element($background: $mint-cream);
			// transition-delay: 500ms;
		}
		&:hover .element {
			@include transform($transform: rotate(180deg));
			transition: transform 600ms ease;
			// transition-delay: 0ms;
		}
	}
}

.skew {
	@include section($background: $english-violet);
	.subcontainer {
		.element {
			@include element($background: $mint-cream);
		}
		&:hover .element {
			@include transform($transform: skew(-20deg, 0deg));
		}
	}
}

.matrix {
	@include section($background: $medium-carmine);
	.subcontainer {
		.element {
			@include element($background: $mint-cream);
		}
		&:hover .element {
			@include transform($transform: matrix(1.4, -0.5, 0.5, 1.4, -100, -40));
			//matrix parameters:
			//matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY() )
			transition: transform 600ms ease;
		}
	}
}

.perspective {
	@include section($background: $ash-grey);
	.subcontainer {
		perspective: 200px;
		.element {
			@include element($background: $mint-cream);
		}
		&:hover .element {
			@include transform($transform: rotateX(50deg));
			transform-style: preserve-3d;
		}
	}
}

.backface {
	@include section($background: $green-sheen);
	.subcontainer {
		perspective: 400px;
		.element {
			@include element($background: none);
			align-items: center;
			display: flex;
			justify-content: center;
			transform-style: preserve-3d;
			&--front {
				@include element($background: $mint-cream);
				backface-visibility: hidden;
				position: absolute;
			}
			&--back {
				@include element($background: $black-coral);
				backface-visibility: hidden;
				position: absolute;
				transform: rotateX(180deg);
			}
		}
		&:hover .element {
			@include transform($transform: rotateY(180deg));
			transition: transform 800ms ease;
		}
	}
}
