* {
	box-sizing: border-box;
}

html,
body {
	font-size: 62.5%;
	height: 100vh;
	margin: 0px;
	padding: 0px;
}

.parallax {
	&-container {
		height: 100vh;
		overflow-x: hidden;
		overflow-y: scroll;
		perspective: 8px;
		perspective-origin: 50%;
		position: relative;
		width: 100%;
	}
}

.image {
	left: 0px;
	margin: 0 auto;
	right: 0px;
	position: absolute;
	transform: 0 50%;
	// z-index: 2;

	&.background {
		// background: rgb(48, 44, 120);
		// background: linear-gradient(
		// 	180deg,
		// 	rgba(48, 44, 120, 1) 0%,
		// 	rgba(87, 50, 199, 1) 25%,
		// 	rgba(138, 87, 222, 1) 50%,
		// 	rgba(189, 107, 236, 1) 75%,
		// 	rgba(191, 143, 207, 1) 100%
		// );
		height: auto;
		width: 100%;
		// z-index: 1;
	}

	&.middle {
		height: 100%;
		transform: translateZ(5px) scale(0.375);
		transform-origin: 50%;

		img {
			width: 100%;
		}
	}

	&.front {
		transform: translateZ(2px) scale(0.75);
		top: calc(1000px - 700px);

		img {
			width: 100%;
		}
	}
}

%loader {
	align-items: center;
	background-color: $background;
	display: flex;
	height: 100%;
	justify-content: center;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 3;

	animation: loader 2400ms linear forwards;
}

%loading-circle {
	background-color: #83a0a0;
	border-radius: 50%;
	height: 100px;
	margin: 0px 10px;
	position: relative;
	width: 100px;

	animation: loading-circle 1000ms ease-in-out infinite;
	translate: 0px;
}

@keyframes loader {
	0% {
		opacity: 1;
	}

	95% {
		opacity: 1;
	}

	100% {
		opacity: 0;
		visibility: hidden;
	}
}

@keyframes loading-circle {
	0% {
		transform: translateY(0px);
	}

	40% {
		transform: translateY(0px);
	}

	70% {
		transform: translateY(-50px);
	}
}

.loader {
	@extend %loader;
	div {
		@extend %loading-circle;
		&:nth-child(1) {
			animation-delay: 0ms;
		}
		&:nth-child(2) {
			animation-delay: 200ms;
		}
		&:nth-child(3) {
			animation-delay: 400ms;
		}
	}
}
